[Unit]
Description=gunicorn daemon for Django Backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/clascic/django_backend
ExecStart=/home/ubuntu/clascic/django_backend/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/clascic/django_backend/pwbackend.sock pwbackend.wsgi:application

[Install]
WantedBy=multi-user.target
